.montadora{
    width: 100%;
    background-color: #424242;
}

.montadora .titulo1{
    margin: 60px;
    font-size: 2rem;
    font-family: 'Unbounded', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo1 .page2 button{
    margin: 10px;
}

.titulo1 .page2 .cta{
    background-color: rgb(255, 251, 0);
}

.titulo1 .page2 .cta a{
    color: black;
    font-weight: 700;
}

.montadora .boxpai{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.montadora .boxs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.montadora .box{
    margin: 20px;
    display: flex;
    align-items: center;
    
}

.box:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.footer{
    margin-top: 0;
}